@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #47888e,
    ),
  ),
  $border-radius: (
    "base": 0,
    "small": 0,
  ),
  $card: (
    "border-radius": (
      0px !important,
    ),
    "padding": (
      10px !important,
    ),
  ),
  $popper: (
    "border-radius": (
      0px !important,
    ),
  )
);
